<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <%= render 'twoot', twoot: @twoot %>
      </div>
    </div>
  </div>
</div>
